:root {
    --calculator-width: 400px;
    --calculator-height: 700px;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 200px;
    background-color: green;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.calculator {
    height: var(--calculator-height);
    width: var(--calculator-width);
    border: 1px solid black;
}

.screen {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.upper-display {
    height: 80px;
    background-color: gray;
}

.lower-display {
    height: 120px;
    background-color: green;
}

.upper-display, .lower-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.keyboard {
    padding: 10px;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.key.clear {
    grid-column: 1/3;
}

.key.delete {
    grid-column: 3/5;
}

.footer {
    height: 200px;
    background-color: blue;
}